[MASTER]
load-plugins=pylint_django
fail-under=8.0
django-settings-module=restaurent.settings

[MESSAGES CONTROL]
# Disable messages you don’t want to see
# Removed line-too-long to enforce max-line-length=120
disable=missing-docstring,C0114,C0115,C0116,trailing-whitespace,missing-final-newline,wrong-import-order,invalid-name

[FORMAT]
# Max line length (adjustable based on your team's preferences)
max-line-length=120

[DESIGN]
# Fixed max-methods to max-public-methods
max-args=10
max-public-methods=20

[IMPORTS]
# Allow relative imports in Django applications
known-third-party=django
